* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: black;
  color: white;
}

body {
  font-family: "Roboto Mono", "Roboto Flex";
}

.webLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
