* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(121, 121, 121);
  outline: 1px solid slategrey;
}

body {
  font-family: "Roboto Mono", "Roboto Flex";
}

.webLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
